<html lang="en">
<head>
    <link rel="stylesheet" href="/src/website/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niki</title>
</head>
<body>
    <div class="container">
        <h1 id="TITLE">Niki, a magical adventure!</h1>
        <p id="guilds"><%= guilds %></p>
    </div>
</body>
</html>